@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&family=Work+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Mada', sans-serif;
}

.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row;
    height: 100vh;
}

.intro-left {
    color: white;
    display: grid;
    background: linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ), url("https://images.unsplash.com/photo-1542810634-71277d95dcbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.intro-left h1 {
    font-size: 3.75em;
}

.intro-panel{
    display: grid;
    align-content: space-between;
    margin: 0 6%;
    padding: 2% 4%;
    /* background-color: rgba(115, 138, 9, 0.851); */
}

.intro-panel--middle{
    width: 60%;
}

.intro-right {
    color: rgb(79, 79, 79);
    background-color: #ffeec5;
    display: grid;
    align-content: center;
    padding: 20% 12%;
    box-shadow: -6px 2px 5px 2px rgb(36 35 35 / 65%)
}

.intro-right > img{
    width: 120px;
}

.intro-right--title > h3{
    font-size: 2rem;
    font-weight: 600;
}

.intro-right--title > p{
    color:rgb(147, 147, 147);
}

.intro-right > p{
    text-align: center;
    font-size: small;
    color:rgb(147, 147, 147)
}

.intro-right > p > a{
    font-size: small;
    color:rgb(147, 147, 147)
}

.intro-register--form{
    display: grid;
    margin: 12% 0 12%;
}

.intro-register--form > input {
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    height: 48px;
    padding: 4%;
    margin-bottom: 6%;
    font-family: 'Mada', sans-serif;
    font-size: 1em;
    color: rgb(79, 79, 79);
    background-color: #ffeec5;
}

.intro-register--form > input:focus {
    outline: 0;
    border-bottom: 1px solid rgb(47, 47, 47);
}

.intro-register--form > button {
    color: white;
    border: none;
    padding: 2% 3%;
    margin: 4% 0 0;
    height: 48px;
    text-align: center;
    background: rgb(27,219,235);
    background: linear-gradient(90deg, rgb(54, 57, 28) 0%, rgb(63, 60, 8) 35%, rgb(88, 97, 42) 100%);
}

@media screen and (max-width: 1200px) {
    .intro{
        grid-template-columns: 60% 40%;
    }
}

@media screen and (max-width: 960px) {
    .intro{
        grid-template-columns: 55% 45%;
    }

    .intro-left h1{
        font-size: 3.3em;
    }
}



@media screen and (max-width: 480px) {
    .intro {
        grid-template-columns: 1fr;
    }

    .intro-left{
        min-height: 480px;
    }
    
    .intro-panel--middle{
        width: 100%;
    }
}